<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="root">
        <p>遍历数组</p>
        <ul v-for="(p,index) in persons" :key="p.id">
            <li>{{p}}------{{index}}</li>
        </ul>

        <p>遍历对象</p>
        <ul v-for="(value,key) in cars" :key="key">
            <li> {{value}}----{{key}}</li>
        </ul>
    </div>
    <script>
        new Vue({
        el:'#root',
        data:{
            persons:[
                {id:001,name:'tom'},
                {id:002,name:'tom'},
                {id:003,name:'tom'}
            ],
            cars:{
                name:'car',
                price:12
            }
        }
        })
    </script>
</body>
</html>